# History files
.Rhistory
# Example code in package build process
*-Ex.R
.Rproj.user
*.Rproj
.DS_Store
*.html
.RData
Folien/*-figure/
Folien/*.md
*.out
*.aux
*.synctex.gz
*.log
hausaufgaben.html
hausaufgabe03.md
figure
verlauf-sitzung14.md
verlauf-sitzung14.Rmd
hausaufgabe16.md
hausaufgabe13.md
